<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>구글 로그인</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css" integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous">
</head>
<body class="aradient-custom">
    <section class="d-flex vh-100">
        <div class="container-fluid row justify-content-conter align-content-conter">
            <div class="card bg-dark" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h2 class="text-white">LOGIN</h2>
                    <p class="text-white-50 mt-2 mb-5">서비스 사용을 위해 로그인 해주세요!</p>
                    <div class="mb-2">
                        <a href="/oauth2/authorization/google">
                            <img src="/img/google.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>